.fad-info
  color: $mainColor
  text-align: left
  padding: $gutterWidth
  letter-spacing: 1.2px

  .fad-title
    font-size: 1.5rem

  .fad-subtitle
    font-size: 1.25rem
    margin: 0
    padding: $gutterWidth 0
    letter-spacing: 1.2px

  .fad-info
    font-size: 1rem
    line-height: 1.3rem
    margin: 0
    padding: 0

    .fad-list
      margin: 0
      text-align: left
