.footer
  +flex
  background: $mainColor
  flex-direction: column
  padding: 15px 30px
  align-items: center
  letter-spacing: 1px
  font-size: 0.8rem
  color: #fff
  
  .made-by
    color: #fff
    text-decoration: none
    +transition
    &:hover
      color: $secondaryColor
