.footer
  +flex
  background: $mainColor
  flex-direction: column
  padding: 15px 30px
  align-items: center
  letter-spacing: 1px
  font-size: 0.8rem
  color: #fff
  text-align: center
  line-height: 1.125rem

  p
    margin-top: 0
    opacity: 0.9

  .made-by
    color: #fff
    text-decoration: none
    +transition
    &:hover
      color: $secondaryColor
