.main-card
  margin: 30px
  border: 1px solid $mainColor
  border-radius: 5px
  box-shadow: 0 5px 10px 0 rgba(34, 88, 117, 0.7)

  .presentation
    padding: 30px 15px
    color: $mainColor
    text-align: center
    +flex
    +transition
    flex-direction: column

    .camlab-story
      margin: 0
      letter-spacing: 1px
      line-height: 1.5rem
      +transition

  .courses-intro
    font-size: 1rem
    letter-spacing: 1px

  .header-courses-list
    list-style: none
    padding: 0

    .home-courses-list
      font-size: 0.9rem
      letter-spacing: 1px
      opacity: 0.8
      padding: 5px 0
      &::before
        content: '•'
        color: $mainColor
        display: inline-block
        width: 1rem
        margin-left: -1rem

.hidden-text
  visibility: hidden
