.main-card
  margin: 30px
  border: 1px solid $mainColor
  border-radius: 5px
  box-shadow: 0 5px 10px 0 rgba(34, 88, 117, 0.7)

  .presentation
    padding: 30px 15px
    color: $mainColor
    text-align: center
    height: 50vh
    +flex
    +transition
    flex-direction: column

    .camlab-story
      margin: 0
      letter-spacing: 1px
      line-height: 1.5rem
      +transition

.hidden-text
  display: none
