@media screen and (min-width: 730px)
  .main-card,
  .general-info
    width: 600px
    margin: 30px auto !important

  .navbar
    justify-content: center
    align-items: center
    flex-direction: column

  .logo
    width: 500px
    margin: 0

  .hamburger-menu
    display: none
