.navbar
  +flex
  justify-content: flex-end
  align-items: center
  padding: 0 30px
  border-bottom: 3px solid $mainColor

.logo
  width: 150px
  margin-right: auto
  img
    width: 100%

.hamburger-menu
  width: 2rem
  cursor: pointer
  display: inline-block
  align-self: center
  margin-right: 0

  .bar
    background: $mainColor
    width: 100%
    height: 5px
    margin: 6px 0
    border-radius: 5px
    +transition

.animated
      .bar
        &:first-child
        transform: rotate(-45deg) translate(-9px, 6px)
        &:nth-child(2)
          opacity: 0
        &:last-child
          transform: rotate(45deg) translate(-8px, -8px)

.nav-content
  +flex
  flex-direction: column
  text-align: center
  position: absolute
  width: 100%
  z-index: 99
  +transition

.nav-link
  background: $mainColor
  border-bottom: 1px solid $secondaryColor
  padding: 30px
  cursor: pointer
  text-decoration: none
  color: #fff
  letter-spacing: 1.2px
  +transition
  &:hover
    background: $secondaryColor
    border-bottom: 1px solid $mainColor

.content
  display: none

  .course-link
    padding: 15px
    text-decoration: none
    color: #fff
    letter-spacing: 1.2px
    font-size: 1rem
    background: $secondaryColor
    border-bottom: 1px solid $mainColor
    +transition
    &:hover
      background: $mainColor
      border-bottom: 1px solid $secondaryColor

.display-none
  display: none

.open
  +flex
  flex-direction: column
